.next-event {

}
.mug-badge {
    font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
    font-size: 12px;
}
.mug-badge .mup-widget,
.mug-badge .mup-widget .mup-hd a {
    background: #1A1A1A;
    color: #f2f2f2;
}
.mug-badge .mup-widget {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 8px;
}
.mug-badge .mup-widget h3,
.mug-badge .mup-widget h4,
.mug-badge .mup-widget p {
    line-height: 1.2 !important;
    text-align: center;
}
.mug-badge .mup-widget h3 {
    font-size: 18px;
    color: #f2f2f2;
    font-weight: bold;
}
.mug-badge .mup-widget h4 {
    font-size: 13px;
}
.mug-badge .mup-widget h5 {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #1A1A1A;
}
.mug-badge .mup-widget p {
    text-align: center;
}
.mug-badge .mup-widget .mup-bd,
.mug-badge .mup-widget .mup-timeline,
.mug-badge .mup-widget .mup-bd p {
    color: #f2f2f2;
}
.mug-badge .mup-widget .mup-bd {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 8px 6px;
    margin: 0 8px;
    background: #333;
}
.mug-badge .mup-widget a,
.mug-badge .mup-widget a:active,
.mug-badge .mup-widget a:visited {
    color: #f2f2f2;
    text-decoration: none;
}
.mug-badge .mup-widget a:hover {
    color: #005CE6;
    text-decoration: none;
}
.mug-badge .mup-widget .mup-tlabel {
    font-size: 10px;
    color: #AAA;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
.mug-badge .mup-widget .mup-stats {
    display: block;
    margin: 6px 0;
    padding: 4px;
    text-align: center;
    background: #1A1A1A;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.mug-badge .mup-widget .mup-button {
    width: 30px;
    display:block;
    margin: 0 auto;
    padding: 2px 4px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2266BB), to(#102f56));
    background: -moz-linear-gradient(0% 100% 90deg,#102F56, #2266BB);
    background-color: #2266BB;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    color: #f2f2f2;
    text-align: center;
    border: 1px solid #0d2748;
}
.mug-badge .mup-widget .mup-button:hover {
    color: #005CE6;
}
.mug-badge .mup-widget .mup-img {
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.mug-badge .mup-widget .mup-img-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
}
.mug-badge .mup-widget .mup-ft .mup-getwdgt {
    padding: 3px 0;
    font-size: 8px;
    text-align: center;
    background: #0A0A0A;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.mug-badge .mup-widget .mup-ft .mup-logo {
    padding: 6px 8px;
    height: 25px;
}